@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body, * {
    font-family: 'Poppins', sans-serif;
}
header {
    background: url(./shutterstock.png) no-repeat;
}
.top-nav {
    display: flex;
    justify-content: end;
    font-size: 14px;
    text-decoration: none;
    margin: 0;
}

.top-nav li {
    margin-left: 65px;
    margin-right: 40px;
}
.navbar-brand {
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-size: 247px;
    width: 290px;
    height: 65px;
}

.btn-warning:hover {
    color: #f6f0f0 !important;
    background-color: #09ff05a8 !important;
    border-color: #090909 !important;
}

.nav-link {
    color: #fff !important;
}

.top-nav li a {
    text-decoration: none;
    position: relative;
    color: #fff;
    display: inline-block;
    line-height: 1;
    margin: 25px 0;
}

.top-nav li a:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    display: inline-block;
    left: -65px;
    top: -11px;
}

.nav-link:hover {
    color: #efb236 !important;
}

.top-nav li:first-child a:before{
    background: url(./phon.png) no-repeat;

}

.top-nav li:last-child a:before{
    background: url(./map.png) no-repeat;

}

.top-nav li:last-child {
    margin-right: 0;
}

.top-nav li {
    list-style: none;
}

.nav-list{
    margin: 0;
    padding: 20px 0 0 0;
    list-style: none;
}
.nav-list li{
    display: inline-block;
    width: 49%;
}

.navbar-nav li:last-child {
    margin-left: 20px;
}

.banner-heading {
    padding-top: 85px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.0rem;
    line-height: 61px;
}

.banner-text {
    padding-top: 40px;
    line-height: 31px;
}

#quote-button {
    margin: 50px 0 175px 0;
    padding: 10px 28px;
}


.process-heading {
    font-family: 'Poppins', sans-serif;
    margin-left: 97px;
}

.card-section {
    padding: 0px 100px 50px 100px;
    position: relative;
}

.card-outside {
    margin: 0 20px 40px 20px;
}

.card-inside {
    padding: 49px 29px !important;
}

.card-title {
    font-family: 'Poppins', sans-serif;
}

.card-subtitle {
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}

.yellow-button {
    position: absolute;
    top: 43px;
    right: 0px;
    left: -26px;
}

.process-line {
    color: #efb236;
    text-align: right;
    margin-right: 119px;
    margin-bottom: 0 !important;
    margin-top: 16px;
}

.icon-arrow-right {
    font-size: 10px;
    margin-left: 10px;
}

.projects {
    background: #383838;
}


.services {
    background: #ebe6e6;
    padding: 80px 154px;
    
}
.services-card {
    display: flex;
    position: relative;
}

.services-title {
    color: gray;
}

.services-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

#btn-black-one {
    transform: rotate(-90deg);
    padding: 8px 25px;
    position: relative;
    top: -297px;
    right: 0;
    bottom: 0;
    left: 144px;
    z-index: 1;
    width: 75%;
}

#btn-black-one:hover {
    background-color: #efb236;
}


.process-heading {
    font-family: 'Poppins', sans-serif;
    margin-left: 97px;
}


.testimonial {
    padding: 5px 193px;
}

.testimonial, .backgroung-text{
    position: relative;
}
.backgroung-text:before{
    content: attr(title);
    font-size: 1000px;
    color: #fcebc129;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    z-index: -1;
    display: inline-block;
}

.card-insideb {
    padding-top: 52px !important;
}

.clients-img {
    position: relative;
    top: 39px;
    bottom: 0;
    z-index: 1;
}

.card-b {
    border: 2px solid #e1e0dc !important;
    border-radius: 11px !important;
}

.card-a {
    border: 1px solid #e1e0dc !important;
    box-shadow: 5px 4px 24px 0px #e1e0dc !important;
    border-radius: 11px !important;
}

#btn-white {
    color: gray;
    opacity: 0.5;
    padding: 0px 46px;
    font-size: 27px;
    margin-left: 20px;
    border-color: #fff;
    border-radius: 10px;
}

#btn-white:hover {
    color: #fff;
    opacity: 1;
}

.news {
   padding: 50px 178px 0 178px;
}

.right-news {
    padding: 100px 82px;
}

.align-card {
    position: relative;
}

.left-card-a {
    padding: 12px;
}

.left-card {
    padding: 12px;
    top: 22px;
}

.right-card {
    bottom: 0;
    padding: 12px;
    top: 75px;
}

.right-card-b {
    bottom: 0;
    padding: 12px;
    top: 98px;
}


.membership {
    padding: 130px 154px;
}

.membership-grid {
    margin-top: 46px !important;
}

.membership-icon {
    margin: 10px 0;
    filter: grayscale(100%);
    width: 50%;
}


footer {
    background-image: url(./footer-back.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 50px 0 6px 0;
    font-family: 'Montserrat', sans-serif;
}

.footer-heading {
    margin-right: 145px;
}

.fotter-form {
    padding-bottom: 38px;
}

.top-footer-hr {
    margin: 0 63px 42px 0;
}
.footer-paragraph {
    line-height: 26px;
    font-size: 14px;
}

.footer-heading, .footer-sub-heading, .footer-text {
    font-family: 'Montserrat', sans-serif;
}

.footer-sub-heading {
    font-size: 20px;
}

.footer-text {
    cursor: pointer;
}
.footer-text:hover {
    color: #20ff00 !important;
}

.border-transparent {
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #fff !important;
    color: #fff !important;
}

::-webkit-input-placeholder {
    color: #fff !important;
    opacity: 0.7 !important;
    font-weight: lighter;
}
.footer-grid {
    text-align: start;
    margin: 0;
    padding: 0;
}

.footer-second-sec {
    padding-right: 77px !important;
}

.recent-news-first-li {
    padding-top: 20px;
    line-height: 26px !important;
}

.recent-news-third-li {
    padding-top: 20px;
    line-height: 26px !important;
}

.footer-third-sec {
    padding-right: 77px !important;
}

.footer-grid ul li {
    line-height: 18px;
}

.footer-grid ul li a {
    font-size: 14px;
    list-style: none;
    text-decoration: none;
    text-align: start !important;
    display: flex;
    padding: 5px 0;
    cursor: pointer;
}

.subscribe-button {
    padding: 9px 33px !important;
}


.links {
    margin-bottom: 15px;
}


.text-start {
    line-height: 15px;
}
.right-icon {
    padding-top: 10px;
}

#footer-right-icon {
    font-size: 20px;
    margin-right: 9px;
    cursor: pointer;
}

#footer-right-icon:hover {
    color: #20ff00;
}

#footer-bottom-icon {
    cursor: pointer;
    margin-right: 8px;
}

#footer-bottom-icon:hover {
    color: #20ff00;
}

.social-icon {
    padding-top: 50px;
}

.footer-second-col {
    margin-top: 38px;
}

#footer-icon-arrow {
    margin-right: 10px;
}

.copyright-text {
    text-align: start;
    font-size: 10px;
    margin: 0 !important;
    color: #fff;
    margin-bottom: 12px !important;
}

.copyright-hr {
    margin-top: 50px;
}


.header-bar {
    background: #ece8e8;
    padding: 30px 249px;
}

.bar-icons {
    display: flex;
    border-right: 1px solid #d2cfcf;
    align-items: center;
    justify-content: center;
}

.bar-iconb {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bar-font {
    font-size: 35px;
    color: #efb236;
    margin-right: 20px;
}

.bar-text {
    padding: 0;
    margin: 0;
    font-family: 'Poppins Regular', sans-serif;
    font-weight: bold;
    font-size: 14px;
}


.about-us {
    position: relative;
    background: #f8f3f3dc;
    padding: 120px 0;
}

.box-move {
    position: relative;
}

.about-box {
    position: absolute;
    bottom: -39px;
    left: 515px;
    right: 0;
}

.about-title {
    color: #efb236;
    font-family: 'Poppins Regular', sans-serif;
    margin-bottom: 0;
}

.about-hr {
    color: #efb236;
    width: 42px;
    margin-top: 0;
}
.about-us-left {
    padding: 0 150px 0 60px;
}

.about-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    padding-bottom: 30px;
    line-height: 45px;
}

.about-text {
    padding-bottom: 50px;
    line-height: 26px;
}

#learn-more {
    cursor: pointer;
}

#learn-more:hover {
    color: #efb236;
}

.projects {
    display: flex;
}

.project-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.project-img:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
}

.project-img:hover:before{
    opacity: 0.1;
}


















/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1300px ) {

    #btn-black-one {
        transform: rotate(
    -90deg);
        padding: 5px 0px;
        position: relative;
        top: -211px;
        right: 0;
        bottom: 0;
        left: 93px;
        z-index: 1;
        width: 100%;
        font-size: 12px;
    }

  

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1200px) {
    
    #btn-black-one {
        transform: rotate( 
    -90deg);
        padding: 5px 0px;
        position: relative;
        top: -146px;
        right: 0;
        bottom: 0;
        left: 61px;
        z-index: 1;
        width: 100%;
        font-size: 10px;
    }

    .header-bar {
        padding: 30px 70px;
    }

    .about-box {
        position: absolute;
        bottom: -39px;
        left: 386px;
        right: 0;
    }

    .about-us-left {
        padding: 0 16px 0 38px;
    }
    .about-us {
        padding: 69px 0;
    }

    .about-text {
        padding-bottom: 8px;
        line-height: 19px;
    }
    .card-section {
        padding: 0px 40px 30px 40px;
    }

    .testimonial {
        padding: 5px 24px;
    }

    .news {
        padding: 50px 30px 0 30px;
    }

    .membership {
        padding: 50px 0px;
    }
  
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 992px) {
    #btn-black-one {
        transform: rotate( 
    -90deg);
        padding: 5px 0px;
        top: -202px;
        right: 0;
        bottom: 0;
        left: 88px;
        z-index: 1;
        width: 100%;
        font-size: 13px;
    }

    .header-bar {
        background: #ece8e8;
        padding: 30px 0px;
    }

    .about-box {
        position: absolute;
        bottom: -49px;
        left: 255px;
        right: 0;
    }

    .about-us-left {
        padding: 0 16px 0 38px;
    }
    .about-us {
        padding: 69px 0;
    }

    .about-text {
        padding-bottom: 8px;
        line-height: 14px;
        font-size: 12px;
    }
    .card-section {
        padding: 0px 10px 10px 10px;
    }
    .card-inside {
        padding: 46px 4px 0 21px !important;
    }
    .card-outside {
        margin: 0 10px 20px 10px;
    }

    .testimonial {
        padding: 5px 24px;
    }

    .news {
        padding: 30px 10px 0 10px;
    }

    .membership {
        padding: 50px 0px;
    }
   
    .about-heading {
        padding-bottom: 14px;
        line-height: 27px;
        font-size: 22px;
    }
      

}

/* Landscape phones and portrait tablets */
@media (min-width: 480px) and (max-width: 768px) {

    .banner-heading {
        padding-top: 47px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 3.0rem;
        line-height: 48px;
        font-size: 36px;
    }

    #btn-black-one {
        transform: rotate( 
    -90deg);
        padding: 5px 0px;
        top: -376px;
        right: 0;
        bottom: 0;
        left: 183px;
        z-index: 1;
        width: 100%;
        font-size: 13px;
    }

    .header-bar {
        background: #ece8e8;
        padding: 30px 0px;
    }

    .bar-icons {
        margin-bottom: 28px;
        border-right: none !important;
    }



    
    .about-box {
        position: absolute;
        bottom: 11px;
        left: 330px;
        right: 0;
    }

    .about-title {
        padding-top: 0px;
        text-align: center;
        padding-bottom: 20px;
    }

    .about-hr {
        display: none;
    }
    .about-us-left {
        padding: 0 16px 0 38px;
    }
    .about-us {
        padding: 69px 0;
    }

    .about-text {
        padding-bottom: 8px;
        line-height: 14px;
        font-size: 12px;
    }
    .card-section {
        padding: 0px 10px 10px 10px;
    }
    .card-inside {
        padding: 46px 4px 0 21px !important;
    }
    .card-outside {
        margin: 0 10px 20px 10px;
    }

    .testimonial {
        padding: 5px 24px;
    }

    .news {
        padding: 30px 10px 0 10px;
    }

    .membership {
        padding: 18px 0px;
    }
   
    .about-heading {
        padding-bottom: 14px;
        line-height: 27px;
        font-size: 28px;
        text-align: center;
        padding-top: 20px;
    }
    .learn-more-button {
        display: flex !important;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .services {
        background: #ebe6e6;
        padding: 0px 30px;
    }

    .services-card {
        width: 100%;
    }

    .process-heading {
        margin-left: 0px;
    }

    .process-line {
        margin-right: 0px;
        margin-bottom: 0 !important;
        margin-top: 2px;
    }

    .right-news {
        padding: 7px 4px;
        text-align: center;
    }

    .right-card {
        top: 0;
    }
    .left-card {
        top: 0;
    }
    .right-card-b {
        top: 0;
    }

    footer {
        background-image: url(./footer-back.jpg);
        background-size: 5000px;
    }


}

/* Landscape phones and smaller */
@media (max-width: 480px) {

    header {
        height: auto !important;
    }

    .banner-heading {
        font-size: 2rem;
    }

    .navbar-brand {
        background-image: url(./logo.png);
        background-repeat: no-repeat;
        background-size: 150px;
        width: 191px;
        height: 33px;
    }

    .top-nav {
        display: flex;
        justify-content: center;
        font-size: 10px;
        text-decoration: none;
        margin: 0;
        padding-left: 0;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        background-color: #add8e652;
        width: 100%;
        height: 100vh;
    }

    .btn-warning {
        width: 100%;
    }

    .navbar-nav li:last-child {
        margin-left: 0;
    }

    .navbar-toggler {
        background-color: #7bf3e84d !important;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: box-shadow .15s ease-in-out;
    }

    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.55);
        border-color: rgb(247 249 91) !important;
    }

    .navbar-nav .nav-link {
        
        text-align: center;
        padding: 20px 0 !important;
    }

    .nav-link:hover {
        color: #efb236 !important;
        font-size: 30px !important;
        letter-spacing: 10px;
        background-color: #45404063 !important;
    }

    .copyright-text {
        display: none !important;
    }

    .copyright-hr {
        display: none !important;
    }

    .header-bar {
        background: #ece8e8;
        padding: 0 !important;
        
    }

    .bar-icons {
        border-right: 0;
        margin-bottom: 30px;
        padding-top: 20px;
    }

    .about-us {
        padding: 16px 0;
    }

    .about-box {
        display: none !important;
    }

    .about-us-left {
        padding: 0 !important;
    }

    .about-title {
        margin-top: 38px;
        text-align: center;
    }


    .header-bar {
        background: #ece8e8;
        padding: 30px 0px;
    }

    .bar-icons {
        margin-bottom: 28px;
        border-right: none !important;
    }

    .services {
        padding: 0 !important;
    }

    .card-section {
        padding: 0px 10px 50px 10px;
    }

    .yellow-button {
        width: 17% !important;
    }

    .process-heading {
        margin-left: 0 !important;
    }

    .process-line {
        margin-right: 0 !important;
    }

    .testimonial {
        padding: 0 !important;
    }

    .news {
        padding: 0 !important
    }

    .membership {
        padding: 10px 0;
    }


    footer {
        background-image: url(./footer-back.jpg);
        background-size: 462px 1336px;
    }

    .subscribe-button {
        margin-top: 22px;
    }

    .about-hr {
        display: none;
    }

    #learn-more {
        width: 100%;
    }

    .btn-outline-light:hover {
        color: #000;
        background-color: #efb236 !important;
        border-color: #070707 !important;
    }

    #btn-black-one {
        transform: rotate( 
    -90deg);
        padding: 5px 0px;
        position: relative;
        top: -381px;
        right: 0;
        bottom: 0;
        left: 205px;
        z-index: 1;
        width: 70%;
        font-size: 16px;
    }

    .services-card {
        width: 100%;
    }

    .right-news {
        padding: 0 !important;
    }

    .right-card {
       top: 0 !important;
    }

    .left-card {
        top: 0 !important;
    }
    .right-card-b {
        top: 0 !important;
    }
    .backgroung-text:before {
        content: attr(title);
        font-size: 860px;
    }

}